/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
      font-family: Arial, sans-serif;
      margin: 0; 
      padding: 0;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      /* Fundo com degradê */
      background: linear-gradient(135deg, #f7f3e9, #d6e6f2);
      color: #333;
      text-align: center;
    }

header {
  background: #222;
  color: #fff;
  padding: 20px;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  padding: 20px;
  flex: 1; /* Faz a galeria ocupar espaço antes do footer */
}

.obra {
  text-decoration: none;
  color: inherit;
}

.obra a {
  width: 50%;
  height: 50%;
}
.obra img {
  width: 50%;
  height: 50%;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s;
}

.obra:hover img {
  transform: scale(1.05);
}

.detalhe-obra {
  max-width: 600px;
  margin: 40px auto;
  padding: 0 20px;
  flex: 1; 
}

.detalhe-obra img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
  position: relative;
}
.detalhe-obra a:hover {
      color: #ff6600; /* muda de cor no hover */
    }
    .detalhe-obra a {
      text-decoration: none; /* remove o sublinhado */
      color: #0056b3;
      font-weight: bold;
      transition: color 0.3s;
    }

/* Footer fixo no rodapé */
footer {
  background: #222;
  color: #eee;
  padding: 1rem;
  font-size: 15px;
  position: relative;
  bottom: 0;
  width: 100%;
}